:host{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row{
  display: flex;
  flex-direction: row;
}

.tile{
  align-items: center;
  background: #CDC0B4;
  border-radius: 4px;
  color: #371722;
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: 600;
  height: 100px;
  width: 100px;
  margin: 4px;
}

.tile.-color-2{ background: #EEE4DA; }
.tile.-color-4{ background: #EDE0C8; }
.tile.-color-8{ background: #F2B179; }
.tile.-color-16{ background:#F59563; }
.tile.-color-32{ background: #F67C5F; }
.tile.-color-64{ background: #F65E3B; }
.tile.-color-128{ background: #FFF589; }
.tile.-color-256{ background: #f9f22a; }
.tile.-color-512{ background: #e8e009; }
.tile.-color-1024{ background: #4b9b06; }
.tile.-color-4096{ background: #545951; }
.tile.-color-8192{ background: #383a37; }

.actions{
  margin-top: 32px;
}
